---
const { title,href } = Astro.props;
---
<a href={href} title={title} class="inline-flex no-underline items-center px-6 py-4 font-[Flow] text-white text-lg transition-all duration-200 rounded-lg hover:bg-[#277eb5] focus:bg-[#277eb5] bg-gradient-to-r from-[#ff6711] to-[#ff9e0d] hover:from-[#ff9e0d] hover:to-[#ff6711] shadow-2xl shadow-[#ff6711] hover:shadow-lg" role="button">
    {title}
    <svg class="w-6 h-6 ml-8 -mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
</a>