---
import { menuMain } from "~/data/menus.js";

const rmTrailingSlash = (path: string): string => {
  return path.endsWith("/") && path.length > 1 
    ? path.slice(0, path.length - 1) 
    : path;
}

const pathname = rmTrailingSlash(Astro.url.pathname);
---

<header x-data="{ open: false }" @keydown.window.escape="open = false">
	<div class="container py-14">
		<nav class="container py-4 fixed top-0 left-0 right-0 bg-white/80 z-50 flex items-center justify-between" aria-label="Global">
			<div class="flex flex-row">
				<a href="vypusknye.html" class="-m-1.5 p-1.5">
					<svg class="my-2" width="43" height="63" viewBox="0 0 43 63" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.7116 5.78931C9.05901 5.78931 7.79588 7.48189 7.79588 10.2102C7.79588 15.187 13.7073 15.5659 13.7073 19.5068C13.7073 21.0984 13.0505 22.0331 11.6358 22.0331C10.2211 22.0331 9.56426 21.0984 9.56426 19.5068V18.3953H7.72009V19.4058C7.72009 22.0836 8.98322 23.8267 11.6863 23.8267C14.3894 23.8267 15.6778 22.0836 15.6778 19.4058C15.6778 14.4291 9.74109 14.0501 9.74109 10.0839C9.74109 8.51766 10.3474 7.58294 11.7621 7.58294C13.1768 7.58294 13.7831 8.51766 13.7831 10.1092V10.6902H15.6525V10.2102C15.6525 7.53242 14.3894 5.78931 11.7116 5.78931Z" fill="#277EB5"></path>
						<path d="M17.9027 5.96614V23.6499H19.8731V16.6774H21.6162C24.4204 16.6774 25.734 15.2122 25.734 12.4081V10.286C25.734 7.60821 24.5467 5.96614 21.7678 5.96614H17.9027ZM19.8731 14.9091V7.75978H21.7678C23.2078 7.75978 23.7888 8.56818 23.7888 10.185V12.5344C23.7888 14.227 23.0815 14.9091 21.6162 14.9091H19.8731Z" fill="#277EB5"></path>
						<path d="M29.8271 13.7975V7.75978H35.1323V5.96614H27.8567V23.6499H35.1323V21.8563H29.8271V15.5659H34.147V13.7975H29.8271Z" fill="#277EB5"></path>
						<path d="M15.021 46.2249V44.4313H9.96846V28.5411H7.99798V46.2249H15.021Z" fill="#277EB5"></path>
						<path d="M16.8629 41.9555C16.8629 44.6334 18.2019 46.4017 20.9049 46.4017C23.6333 46.4017 24.9722 44.6334 24.9722 41.9555V32.8105C24.9722 30.1074 23.6333 28.3643 20.9049 28.3643C18.2019 28.3643 16.8629 30.1074 16.8629 32.8105V41.9555ZM18.8082 32.7095C18.8082 31.1179 19.4902 30.1579 20.9049 30.1579C22.3449 30.1579 23.0017 31.1179 23.0017 32.7095V42.0566C23.0017 43.6734 22.3449 44.6081 20.9049 44.6081C19.4902 44.6081 18.8082 43.6734 18.8082 42.0566V32.7095Z" fill="#277EB5"></path>
						<path d="M29.3091 36.3725V30.3348H34.6142V28.5411H27.3386V46.2249H34.6142V44.4313H29.3091V38.1409H33.629V36.3725H29.3091Z" fill="#277EB5"></path>
						<path d="M10.3485 56.4375H11.0795L9.40733 52.9561L11.0247 50.0413H10.3028L8.60323 53.1297V50.0413H7.8905V56.4375H8.60323V54.2902L8.97787 53.6597L10.3485 56.4375Z" fill="#277EB5"></path>
						<path d="M16.9748 50.0413V56.4375H17.6875V50.0413H16.9748Z" fill="#277EB5"></path>
						<path d="M23.7658 50.0413V56.4375H25.2644C26.2604 56.4375 26.7173 55.8344 26.7173 54.8567V51.6312C26.7173 50.6443 26.2604 50.0413 25.2644 50.0413H23.7658ZM24.4786 55.7887V50.69H25.2461C25.767 50.69 26.0137 51.0098 26.0137 51.5946V54.8841C26.0137 55.4689 25.7669 55.7887 25.2552 55.7887H24.4786Z" fill="#277EB5"></path>
						<path d="M34.0774 49.9773C33.1179 49.9773 32.661 50.5895 32.661 51.5764C32.661 53.3764 34.7992 53.5135 34.7992 54.939C34.7992 55.5146 34.5616 55.8527 34.0499 55.8527C33.5382 55.8527 33.3007 55.5146 33.3007 54.939V54.5369H32.6336V54.9024C32.6336 55.871 33.0905 56.5015 34.0682 56.5015C35.0459 56.5015 35.5119 55.871 35.5119 54.9024C35.5119 53.1023 33.3646 52.9653 33.3646 51.5307C33.3646 50.9641 33.5839 50.6261 34.0956 50.6261C34.6073 50.6261 34.8266 50.9641 34.8266 51.5398V51.75H35.5028V51.5764C35.5028 50.6078 35.0459 49.9773 34.0774 49.9773Z" fill="#277EB5"></path>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M41.3875 1.6125H1.6125V60.7375H41.3875V1.6125ZM0 0V62.35H43V0H0Z" fill="#277EB5"></path>
					</svg>
				</a>
				<div class="flex-col text-sm ml-4 hidden lg:flex w-[260px]">
					<div>Организация детских праздников на собственной площадке</div>
					<div class="flex flex-row">
						<svg class="my-1" width="9" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 4.5C9 6.985 4.5 12 4.5 12S0 6.985 0 4.5a4.5 4.5 0 019 0z" fill="#277EB5"/><path d="M6 4.5c0 .828-1.5 2-1.5 2S3 5.328 3 4.5a1.5 1.5 0 113 0z" fill="#fff"/></svg>
						<div class="ml-1 font-bold text-[#277eb5]">ул. Дворцовая 4а;</div>
					</div>
					<div class="flex flex-row"><svg class="my-1" width="9" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 4.5C9 6.985 4.5 12 4.5 12S0 6.985 0 4.5a4.5 4.5 0 019 0z" fill="#277EB5"/><path d="M6 4.5c0 .828-1.5 2-1.5 2S3 5.328 3 4.5a1.5 1.5 0 113 0z" fill="#fff"/></svg><div class="ml-1 font-bold text-[#277eb5]">Ульяновский пр-т 16</div></div>
				</div>
			</div>
			<div class="flex lg:hidden">
				<button
					type="button"
					class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5"
					@click="open = true"
				>
					<span class="sr-only">Open main menu</span>
					<svg
						class="size-8 text-[#277EB5]"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						aria-hidden="true"
						data-slot="icon"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
					</svg>
				</button>
			</div>
			<div class="hidden lg:flex lg:gap-x-12 lg:items-center">
				{
					menuMain.map((item) => (
						<a
							href={item.url}
							class={`transition text-base/6 font-semibold hover:text-[#277eb5] ${item.highlighted ? "menu-item-highlighted" : ""} ${pathname === item.url ? "menu-item-active" : ""}`}
						>
							{item.name}
						</a>
					))
				}
			</div>
			<div class="hidden lg:flex lg:flex-col text-right">
					<a class="text-[#ff6711] font-sans font-medium text-2xl" href="tel:+79176113743">
						+7 917 611-37-43
					</a>
					<a class="text-md font-bold" href="mailto:speloe-kafe@yandex.ru">
						speloe-kafe@yandex.ru
					</a>
			</div>
		</nav>
		<div class="lg:hidden" x-ref="dialog" x-show="open" x-cloak aria-modal="true">
			<div
				class="fixed inset-0 z-50 w-full overflow-y-auto bg-white px-8 py-6"
				x-show="open"
				x-transition:enter="transition ease-out"
				x-transition:enter-start="opacity-0"
				x-transition:enter-end="opacity-100"
				x-transition:leave="transition ease-in"
				x-transition:leave-start="opacity-100"
				x-transition:leave-end="opacity-0"
				x-cloak
			>
				<div class="flex items-center justify-between">
					<a href="/" class="-m-1.5 p-1.5">
						<svg class="my-2" width="43" height="63" viewBox="0 0 43 63" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.7116 5.78931C9.05901 5.78931 7.79588 7.48189 7.79588 10.2102C7.79588 15.187 13.7073 15.5659 13.7073 19.5068C13.7073 21.0984 13.0505 22.0331 11.6358 22.0331C10.2211 22.0331 9.56426 21.0984 9.56426 19.5068V18.3953H7.72009V19.4058C7.72009 22.0836 8.98322 23.8267 11.6863 23.8267C14.3894 23.8267 15.6778 22.0836 15.6778 19.4058C15.6778 14.4291 9.74109 14.0501 9.74109 10.0839C9.74109 8.51766 10.3474 7.58294 11.7621 7.58294C13.1768 7.58294 13.7831 8.51766 13.7831 10.1092V10.6902H15.6525V10.2102C15.6525 7.53242 14.3894 5.78931 11.7116 5.78931Z" fill="#277EB5"></path>
							<path d="M17.9027 5.96614V23.6499H19.8731V16.6774H21.6162C24.4204 16.6774 25.734 15.2122 25.734 12.4081V10.286C25.734 7.60821 24.5467 5.96614 21.7678 5.96614H17.9027ZM19.8731 14.9091V7.75978H21.7678C23.2078 7.75978 23.7888 8.56818 23.7888 10.185V12.5344C23.7888 14.227 23.0815 14.9091 21.6162 14.9091H19.8731Z" fill="#277EB5"></path>
							<path d="M29.8271 13.7975V7.75978H35.1323V5.96614H27.8567V23.6499H35.1323V21.8563H29.8271V15.5659H34.147V13.7975H29.8271Z" fill="#277EB5"></path>
							<path d="M15.021 46.2249V44.4313H9.96846V28.5411H7.99798V46.2249H15.021Z" fill="#277EB5"></path>
							<path d="M16.8629 41.9555C16.8629 44.6334 18.2019 46.4017 20.9049 46.4017C23.6333 46.4017 24.9722 44.6334 24.9722 41.9555V32.8105C24.9722 30.1074 23.6333 28.3643 20.9049 28.3643C18.2019 28.3643 16.8629 30.1074 16.8629 32.8105V41.9555ZM18.8082 32.7095C18.8082 31.1179 19.4902 30.1579 20.9049 30.1579C22.3449 30.1579 23.0017 31.1179 23.0017 32.7095V42.0566C23.0017 43.6734 22.3449 44.6081 20.9049 44.6081C19.4902 44.6081 18.8082 43.6734 18.8082 42.0566V32.7095Z" fill="#277EB5"></path>
							<path d="M29.3091 36.3725V30.3348H34.6142V28.5411H27.3386V46.2249H34.6142V44.4313H29.3091V38.1409H33.629V36.3725H29.3091Z" fill="#277EB5"></path>
							<path d="M10.3485 56.4375H11.0795L9.40733 52.9561L11.0247 50.0413H10.3028L8.60323 53.1297V50.0413H7.8905V56.4375H8.60323V54.2902L8.97787 53.6597L10.3485 56.4375Z" fill="#277EB5"></path>
							<path d="M16.9748 50.0413V56.4375H17.6875V50.0413H16.9748Z" fill="#277EB5"></path>
							<path d="M23.7658 50.0413V56.4375H25.2644C26.2604 56.4375 26.7173 55.8344 26.7173 54.8567V51.6312C26.7173 50.6443 26.2604 50.0413 25.2644 50.0413H23.7658ZM24.4786 55.7887V50.69H25.2461C25.767 50.69 26.0137 51.0098 26.0137 51.5946V54.8841C26.0137 55.4689 25.7669 55.7887 25.2552 55.7887H24.4786Z" fill="#277EB5"></path>
							<path d="M34.0774 49.9773C33.1179 49.9773 32.661 50.5895 32.661 51.5764C32.661 53.3764 34.7992 53.5135 34.7992 54.939C34.7992 55.5146 34.5616 55.8527 34.0499 55.8527C33.5382 55.8527 33.3007 55.5146 33.3007 54.939V54.5369H32.6336V54.9024C32.6336 55.871 33.0905 56.5015 34.0682 56.5015C35.0459 56.5015 35.5119 55.871 35.5119 54.9024C35.5119 53.1023 33.3646 52.9653 33.3646 51.5307C33.3646 50.9641 33.5839 50.6261 34.0956 50.6261C34.6073 50.6261 34.8266 50.9641 34.8266 51.5398V51.75H35.5028V51.5764C35.5028 50.6078 35.0459 49.9773 34.0774 49.9773Z" fill="#277EB5"></path>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M41.3875 1.6125H1.6125V60.7375H41.3875V1.6125ZM0 0V62.35H43V0H0Z" fill="#277EB5"></path>
						</svg>
					</a>
					<button type="button" class="-m-2.5 p-2.5 text-brand-red" @click="open = false">
						<span class="sr-only">Close menu</span>
						<svg
							class="size-8"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="2"
							stroke="currentColor"
							aria-hidden="true"
							data-slot="icon"
						>
							<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
						</svg>
					</button>
				</div>
				<div class="mt-6 flow-root">
					<div class="text-center text-sm mx-auto w-full">
						<div>Организация детских праздников на собственной площадке</div>
						<div class="w-full text-center">
							<div>
								<svg class="my-1 inline-block" width="9" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 4.5C9 6.985 4.5 12 4.5 12S0 6.985 0 4.5a4.5 4.5 0 019 0z" fill="#277EB5"/><path d="M6 4.5c0 .828-1.5 2-1.5 2S3 5.328 3 4.5a1.5 1.5 0 113 0z" fill="#fff"/></svg>
								<div class="ml-1 font-bold inline-block text-[#277eb5]">ул. Дворцовая 4а;</div>
							</div>
							<div>
								<svg class="my-1 inline-block" width="9" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 4.5C9 6.985 4.5 12 4.5 12S0 6.985 0 4.5a4.5 4.5 0 019 0z" fill="#277EB5"/><path d="M6 4.5c0 .828-1.5 2-1.5 2S3 5.328 3 4.5a1.5 1.5 0 113 0z" fill="#fff"/></svg>
								<div class="ml-1 font-bold inline-block text-[#277eb5]">Ульяновский пр-т 16;</div>
							</div>
							<div class="flex flex-col text-center mt-12">
								<a class="text-[#ff6711] font-sans font-medium text-2xl" href="tel:+79176113743">
									+7 917 611-37-43
								</a>
								<a class="text-md font-bold" href="mailto:speloe-kafe@yandex.ru">
									speloe-kafe@yandex.ru
								</a>
							</div>
						</div>
					</div>
					<div class="-my-6 divide-y divide-gray-500/10">
						<div class="space-y-2 py-6 mt-16">
							{
								menuMain.map((item) => (
									<a
										@click="open = false"
										href={item.url}
										class={`block py-2 text-center font-semibold text-3xl ${item.highlighted ? "menu-item-highlighted w-max mx-auto !px-8 !py-2" : ""} ${pathname === item.url ? "menu-item-active" : ""}`}
									>
										{item.name}
									</a>
								))
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
